src/assets/skins/
src/assets/objects/
run/
out/
.qwen/
gha-creds-*.json
.kiro/
command_history.txt
crash-reports/
debug-profile.json
debug/
downloads/
logs/
options.txt
out/
resourcepacks/
run/
screenshots/
servers.dat
servers.dat_old
.idea
hotbar.nbt