/src/assets/skins/
/src/assets/objects/
/run/
/out/
/.qwen/
gha-creds-*.json
/.kiro/
command_history.txt
/sborka/
hs_err_*.log
*.obj
*.exp
*.lib
WebView2Loader.dll
webview_native.dll
/webview2_sdk/
ca/
com/
META-INF/
usercache.json
*.bak
run.bat
/crash-reports/
debug-profile.json
/debug/
/downloads/
/logs/
options.txt
/out/
/resourcepacks/
/run/
/screenshots/
servers.dat
servers.dat_old
/.idea/
*.iml
/native/
hotbar.nbt
/aporia/
/help/
/saves/
/Grim-2.0/
/AntiCheats/
/viaversion/
AGENTS.md
/vulkan-test/